.card {
  border-radius: .5rem;
  color: white;
  border: none;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);

  .numbers {
    font-weight: 800;
  }
}