$lightblue : #8ecae6;
$greeen: #219ebc;
$darkblue: #023047;
$yellow: #ffb703;
$orange: #fb8500;
$white: #ffffff;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}
